.document-history-item {
    border: 1px solid var(--light-gray);
    text-decoration: none;
    color: var(--gray);
    border-radius: 5px;
    margin: 10px;

    &:hover, &:hover * {
        border-color: var(--light-blue);
    }

    h2 {
        color: var(--bolder-blue);
    }
    h2, h4 {
        margin: 5px;
    }

    >div {
        width: 100%;
        min-height: 70px;
        border-top: 1px solid var(--light-gray);

        p {
            margin: 4px;
        }
    }
}