.section {
    background-color: #fff;
    border-radius: 0px;
    margin: 2rem;
    max-width: 800px;
    border: 1px solid #999;
}

.section legend:nth-child(1) {
    margin: .4rem;
    text-align: center;
    color: #222;
    font-size: 1rem;
    font-family: monospace;
}