.field {
  display: block;
  border: 1px solid thistle;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.6rem;
  width: 80%;
  height: 1.2rem;
}
.field:focus {
  outline: none;
  border-color: rgb(63, 178, 245);
}
.field-wrap {
  margin: .2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.field-wrap svg {
  color: rgb(255, 255, 255);
  margin: 0 .2rem 0 -1.2rem;
  font-size: 2rem;
  height: 2.4rem;
}
.invalid svg {color: rgba(255, 255, 255, 0.5);}
.invalid input:focus {border-color: rgba(255, 0, 0, 0.3);}