:root {
    --main: #F6F6F6;
    --main-dark: #111111;

    --main-blue: #1A9FC8;
    --ultramarine: #0D21FF;
    --midnight-blue: #000861;
    --electric-blue: #60E8FA;

    --erin: #32EE2C;
    --cinnabar: #ED412B;
}