@import url(./colors.css);
.panel {
  background-color: ghostwhite;
  border: 4px solid black;
  margin: 2rem auto;
  padding: 4rem;
  width: 70%;
  max-width: 600px;
}
.title {
  text-align: center;
  margin: 1rem 0 2rem;
}

label {
  display: block;
  text-align: center;
  margin-top: 2rem;
  color: var(--ultramarine);
}
label.small {
  text-align: start;
  color: black;
  padding: .4rem;
}
label span {
  font-size: .8rem;
}
a.special {
  display: block;
  text-align: center;
  border: 1px solid red;
}
.error {
  margin: 1rem 0;
  text-align: center;
  color: red;
}
input {
  display: block;
}
input[type="text"],
[type="password"],
[type="email"] {
  border: none;
  border-bottom: 2px solid rgb(165, 160, 160);
  background-color: transparent;
  color: black;
  text-align: center;
  margin: 0 auto;
  padding: 0.6rem;
  width: 80%;
}
input[type="text"]:focus,
[type="password"]:focus,
[type="email"]:focus {
  outline: none;
  border-bottom-color: rgb(255, 153, 0);
}
input[type="radio"] {
  display: inline-block;
  transform: scale(2);
  margin: 0 1rem;
}
button[type="submit"] {
  background-color: rgb(12, 202, 12);
  color: var(--main);
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 4rem;
  display: block;
  margin: 2rem auto 0rem;
}
