.tab-set {
    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        li {
            flex-grow: 1;
            text-align: center;
            border-bottom: 2px solid gray;
            cursor: pointer;
        }
        .current-tab {
            border: 2px solid gray;
            border-bottom: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
    width: 70%;
    margin: 0 auto 0 auto;
    .tab-content {
        height: 600px;
        border: 2px solid red;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
}