

[data-pagination] {
    padding: 0;
    background-color: var(--light-gray);
    border-radius: 999px;
    overflow: hidden;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

[data-pagination] svg {
    padding: .5rem;
    cursor: pointer;
}
[data-pagination] svg.unactive {
    background-color: var(--almost-white);
    cursor: default;
}
[data-pagination] svg:hover {
    background-color: var(--almost-white);
}


[data-pagination] div {
    font-family: var(--main-font);
    padding: 0 .4rem;
    margin: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    cursor: default;
}