.button {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 9999px;
  padding: 0.5rem 4rem;
  display: block;
  margin: 2rem auto 0rem;
  cursor: pointer;
}

.button[type="submit"] {
  background-color: #00ad0e;
}
.button[type="button"] {
  background-color: #006fcc;
}
.button.delete {
  background-color: #ff4444;
}
 

.button[type="submit"]:hover {
  background-color: #007a0a;
}
.button[type="button"]:hover {
  background-color: #015aa3;
}
.button.delete:hover {
  background-color: #f52323;
}