.footer {
    min-height: 5rem;
    border-top: 0px solid black;
    padding: 0 3rem 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    div {
        margin: 0 1rem;
        a {
            display: block;
            width: max-content;
            margin: 0 auto;
        }
        .github *{
            height: 4rem;
            width: 4rem;
            color: black;
        }
    }
}
@media (max-width: 800px) {
    .footer {
        justify-content: center;
    }
}