#products {
    padding: 2px 10px 30px 10px;
    margin: 2rem auto;
    width: 90%;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;  

    label {
        text-align: center;
        border-bottom: 1px solid darkGray;
        padding: 10px 5px;
        margin-bottom: 0;
    }

    input {
        width: 90%;
        margin: 0 auto;
        font-size: 1.5rem;
    }
}

#btn-add-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px auto 0 auto;
    width: 40px;
    height: 40px;
    background: whitesmoke;
    border: none;
    border-radius: 50%;
    svg {
        font-size: 3rem;
    }
}
#btn-add-row:hover {
    background-color: lavender;
    
}