/*The main container*/

[data-component='branch-preview-item'] {
    width: 10rem;
    height: 13rem;
    margin: 1rem;
    position: relative;
    cursor: pointer;

    abbr {text-decoration: none !important;}

    &>div {
        border-radius: 10px;
        transition: .1s;
        position: relative;
        &:hover {
            background-color: #eee;
            transform: scale(1.1);
            outline: 0px solid #0070f0;
        }

        a {
            text-decoration: none;
            white-space: nowrap;

            span {color: #444;}

            img {
                width: 10rem;
                height: 10rem;
                
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }


    p, a span {
        color: #222;
        margin: 0;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}