@font-face {
  font-family: "nunito";
  src: url(../../../../../assets/fonts/Nunito-VariableFont_wght.ttf);
}

.full-size-document {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: "header" "subheader" "body" "body" "body" "footer";
  gap: .5rem;
  padding: 10px;
  margin: 0 auto;
  width: 600px;
  height: 840px;
  font-family: "nunito";
}

.full-size-document > div {
  width: 600px;
  border-radius: 6px;
}

.full-size-document #doc-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.full-size-document #doc-header > div {
  margin: 0 .25rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
}

.full-size-document #doc-header > div p {
  margin: 4px;
  text-align: center;
}

.full-size-document #doc-header > div p.small {
  font-size: .8rem;
}

.full-size-document #doc-header .doc-header-advertisement img {
  max-height: 70px;
  margin: 0 auto;
  display: block;
}

.full-size-document #doc-header .doc-header-data .doc-header-data-title {
  height: 50px;
  background-color: #bbb;
  border-bottom: 1px solid black;
}

.full-size-document #doc-header .doc-header-data .doc-header-data-title p {
  float: inline-start;
  display: block;
  padding: .2rem;
  border-right: 1px solid black;
  font-size: 2rem;
}

.full-size-document #doc-header .doc-header-data .doc-header-data-title h2 {
  font-size: medium;
  margin: 0;
  padding: 3px;
  font-weight: 50;
}

.full-size-document #doc-header .doc-header-data .doc-header-data-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.full-size-document #doc-header .doc-header-data .doc-header-data-date p {
  display: block;
  padding: 5px;
  border: 1px solid black;
}

.full-size-document #doc-header .doc-header-data .doc-header-data-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.full-size-document #doc-subheader {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subheader;
  background-color: white;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.full-size-document #doc-subheader > p {
  min-width: 30%;
  max-width: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 5px;
  font-size: .8rem;
}

.full-size-document #doc-body {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: body;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr 1fr;
      grid-template-columns: 1fr 4fr 1fr 1fr;
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1px;
  border-radius: 6px;
  background-color: #bbb;
  overflow: hidden;
}

.full-size-document #doc-body data:nth-child(-n + 4) {
  background-color: #363636;
  color: white;
}

.full-size-document #doc-body data {
  padding: 8px 0;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
}

.full-size-document #doc-footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: white;
}

.full-size-document #doc-footer p {
  padding: .5rem;
  margin: 0;
  border-radius: 5px;
  background-color: white;
}

.full-size-document #doc-footer .doc-footer-copies {
  margin: .5rem;
}
/*# sourceMappingURL=FullSizeDocument.css.map */