.select{
    width: 50%;
    padding: .3rem 1rem;
    margin: .5rem;
    background-color: var(--almost-white);
    color: var(--light-black);
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    cursor: context-menu;
    font-family: var(--secondary-font);
}
.select:focus {
    border-color: var(--light-blue);
}

.sub-select{
    width: min-content;
    padding: .3rem;
    margin: .5rem;
    background-color: var(--almost-white);
    color: var(--light-black);
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    cursor: context-menu;
    font-family: var(--secondary-font);
}