.error {
    margin: 2rem 0;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1rem;
}
.error>svg {
    margin: 0 .5rem;
}