.switch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 6rem;
    height: 3rem;
    margin: 1rem auto;
    background-color: #fff;
    border-radius: 999px;
    border: 1px solid #ddd;
}
.switch svg {
    color: #ccc;
    display: block;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}
.switch.switch-true svg:nth-child(2) {
    transform: scale(1.8);
    transition: .2s;
    border: 1px solid gainsboro;
    color: #3700ff;
    background-color: #fff;
}

.switch.switch-false svg:nth-child(1) {
    border: 1px solid gainsboro;
    transform: scale(1.8);
    transition: .2s;
    color: #3700ff;
    background-color: #fff;
}