.document-history {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    max-width: 830px;
    background-color: #fff;
}

.document-history .document-history-menu {
    display: flex;

    background-color: #fff;
    max-width: 700px;
    min-width: 300px;

    overflow-x: auto;
    padding: 0;
    border-radius: 9px;
}