#root {
    
    --shadow: #00000033;
    --translucid-black: #0009;
    --light-black: #202124;
  
    --almost-white: #eee;
    --light-gray: #b3b3b3;
    --gray: #5f6368;
    --dark-gray: #363636;
  
    --crab: #ff4444;
    --bold-crab: #f52323;
    --bolder-crab: #db1b1b;

    --marigold: #ff9710;

    --android: #6cd800;
    --leaf: #00ac00;
    --bold-leaf: #008d00;
  
    --light-blue: #1789e6;
    --blue: #006fcc;
    --bold-blue: #015aa3;
    --bolder-blue: #014b88;
    --void-blue: #020024;
  
}