@charset "utf-8";
#root {
	background: rgb(0, 99, 199);
	background: linear-gradient(45deg, rgba(0,127,255,0.9) 0%, rgba(108,180,238,0.9) 100%); 
	background-size: 400% 400%;
	animation: gradient 60s ease-in infinite;
}
@keyframes gradient {
	0% {
	background-position: 0% 0%;
	}
	50% {
	background-position: 800% 400%;
		
	}
	100% {
		background-position: 0% 0%;
	}
}
body {
	margin:0;
	background: center  url(../asset/img/main.jpg);
	min-height: 100vh;
}