header {
	width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    #logo{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
        font-family: monospace;
        img {
            margin: 0 1rem 0 0.6rem;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
        }
    }
    #logged-header {
        display: flex;
    }
}
@media (max-width: 750px) {
    #logged-header {
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 600px) {
    #logo * {display: none;}
}
