form {
    background-color: white;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    margin: 2rem auto;
    padding: 2rem 2%;
    width: 99%;
    min-width: 200px;
    max-width: 650px;
}


form>svg, form>a>svg {
    color: var(--light-gray);
    font-size: 2rem;
    cursor: pointer;
}

form h1 {
    color: var(--light-black);
    font-family: var(--title-font);
    text-align: center;
    margin: 1rem 0 2rem;
    cursor: default;
}

form a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size:'.9rem';
    font-family: var(--secondary-font);
}

label, legend {
    font-family: var(--subtitle-font);
    font-size: 0.8rem;
    cursor: default;
    display: block;
    text-align: center;
    margin-top: 2rem;
    color: var(--gray);
}
label:focus, legend:focus {
    color: var(--light-gray);
}
span {
    font-size: .8rem;
}

label.small {
    text-align: start;
    color: white;
}