table {
    display: block;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    background-color: var(--almost-white);

    width:min-content;
    max-width: 98%;
    max-height: 20rem;
    margin: 0 auto;
    overflow: auto;

    border-spacing: 0;
}
table thead {
    cursor: default;
    
}
table tbody {
    white-space: nowrap;
}
table svg {
    display: block;
    text-align: center;
    margin: .4rem auto;
    padding: 0 .4rem;
    color: var(--gray);
    font-size: 1.5rem;
}
table svg:hover {
    cursor: pointer;
    color: var(--blue);
    transform: scale(1.1);
}
tbody label {
    margin: 0 .2rem;
}
thead tr {
    position: relative;
}
thead tr th {
    color: var(--gray);
    background-color: var(--almost-white);
    border-bottom: var(--light-gray) solid 1px;

    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: .8rem;
    padding: .2rem;
    min-width: 6rem;

    position: sticky;
    top: 0;
}