table {
    display: block;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: #ddd;
    width: 100%;
    padding: .2rem .4rem;
    overflow-x: auto;
}
table thead {
    cursor: default;
}
table svg {
    display: block;
    text-align: center;
    margin: .4rem auto;
    padding: 0 .4rem;
    color: #555;
    font-size: 1.5rem;
}
table svg:hover {
    cursor: pointer;
    color: #35f;
    transform: scale(1.2);
}
tbody label {
    margin: 0 .4rem;
}
thead tr th {
    color: #333;
    font-family: monospace;
    font-weight: normal;
    font-size: .8rem;
    padding: .2rem;
}