[data-component="branch-banner"] {
    background-color: var(--almost-white);
    min-height: 14rem;
    padding: 2rem 0 0 2rem;
    border-bottom: 2px dashed var(--light-gray);
    font-family:var(--subtitle-font);
    color: var(--light-black);
}
[data-component="branch-banner"]>img {
    background-color: var(--light-gray);
    border-radius: 15px;
    float: left;
    height: 12rem;
    margin-right: 2rem;
}

[data-component="branch-banner"]>h2 {
    font-size: 2rem;
}

[data-component="branch-banner"]>div {
    margin: 0;
    display: inline-block;
    min-width: "200px";
}

[data-component="branch-banner"]>div>* {
    margin-right: 1rem;
    display: inline;
}