@charset "utf-8";
#root {
  background: rgba(57, 153, 250, 0.8);
  
  background-size: 400% 400%;
  animation: gradient 60s ease-in infinite;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 800% 400%;
  }
  100% {
    background-position: 0% 0%;
  }
}
body {
  margin: 0;
  background: top / cover url(assets/img/main2.jpg) no-repeat fixed;
  min-height: 100vh;
}
