[data-branchpoints] {
    background-color: var(--almost-white);
    min-height: 14rem;
    padding: 2rem 0 2rem;
    font-family: var(--subtitle-font);

    div {
        margin: 0 auto;
        .point-plus {
            display: inline-block;
            margin: 1rem;
            border-radius: 999px;
            background-color: var(--almost-white);
            width: 4rem;
            padding: .6rem .4rem;
            text-align: center;
            cursor: pointer;
            transition: .1s;
            &:hover {
                background-color: var(--light-gray);
            }
        }
    }
    .point {
        border: 1px solid var(--light-gray);
        border-radius: 6px;
        background-color: var(--almost-white);
        width: 10rem;
        padding: .2rem .4rem;
        margin: .8rem;
        position: relative;
        h3 {
            font-size: 1rem;
            margin: 0;
            padding-right: 1rem;
            border-right: 1px solid var(--light-gray);
            float: left;
            display: block;
            cursor: default;
        }
        svg{
            position: absolute;
            top: 5px;
            right: 5px;
            color: var(--gray);
            &:hover {
                color: var(--crab);
                cursor: pointer;
            }
        }
    }
    &:nth-child(even) {
        background-color: var(--almost-white);
    }
    h1 {
        text-align: center;
    }
}