nav {
  margin: 0;
  padding: 1rem 0;
  height: max-content;
  overflow-y: auto;
  width: 100%;
  position: sticky;
  top: 0;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin: .3rem 0;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--light-black);
    cursor: pointer;
    svg {
      display: block;
      margin-right: .2rem;
      font-size: 1.2rem;
    }
    &.active {
      border-right: 3px solid var(--blue);
      color: var(--blue);
    }
    &:hover {
      background-color: var(--light-gray);
    }
    
  }
  
}

@media (max-width: 828px) {
  nav {
    display: flex;
    padding: 0;
  }
  nav>a {
    flex: 1;
    border-bottom: 2px solid var(--light-gray);
    padding: 5px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    &.active {
      border: none;
      border-bottom: 3px solid var(--blue);
    }
  }
}
@media (max-width: 550px) {
  nav svg {
    font-size: 0;
  }
}
